.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .datePicker {
    margin-bottom: 20px;
  }
  
  .datePicker label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .dateInput {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .slotsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .slot {
    padding: 10px 20px;
    background-color: #e0f7fa;
    border: 1px solid #00acc1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slot.selected {
    background-color: #00acc1;
    color: white;
  }
  
  .slot:hover {
    background-color: #00acc1;
    color: white;
  }
  
  h2 {
    color: #00796b;
    margin-bottom: 20px;
  }
  
  .addButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .addButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .selectedSlots {
    margin-top: 20px;
  }
  
  .selectedSlots h3 {
    margin-bottom: 10px;
  }
  
  .slotItem {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  