.Button {
    border-radius: 15px;
    font-size: medium;
    width: 160px;
    height: 45px;
    margin: 0.2rem;
}

.primario {
    background: var(--azulmedio);
    color: #FFFFFF;
    border: 1px solid var(--azulmedio);
}

.secundario {
    background: var(--azulclaro);
    color: var(--azulmedio);
    border: 1px solid var(--azulmedio);
}
