.tabelaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.title {
  font-size: 24px;
  color: #007b7f;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.datePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dateInput {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  width: 150px;
}

.horarios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.horario {
  padding: 10px 20px;
  border: 1px solid #007b7f;
  border-radius: 5px;
  background-color: #ffffff;
  color: #007b7f;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horario:hover {
  background-color: #e0f7f7;
}

.selected {
  background-color: #007b7f;
  color: #ffffff;
}

.disabled {
  background-color: #f0f9f9;
  color: #ccc;
  cursor: not-allowed;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.cancelButton, .addButton, .scheduleButton {
  padding: 10px 20px;
  border: 1px solid #007b7f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton {
  background-color: #ffffff;
  color: #007b7f;
}

.cancelButton:hover {
  background-color: #e0f7f7;
}

.addButton {
  background-color: #007b7f;
  color: #ffffff;
}

.addButton:hover {
  background-color: #005f61;
  border-color: #005f61;
}

.scheduleButton {
  background-color: #007b7f;
  color: #ffffff;
}

.scheduleButton:hover {
  background-color: #005f61;
  border-color: #005f61;
}

.selectedSlots {
  margin-top: 30px;
  text-align: center;
}

.slotItem {
  font-size: 16px;
  margin-top: 5px;
}
