.header {
  text-align: center; /* Centraliza o título e o parágrafo */
  color: #007ba7;
  margin-bottom: 15%;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.5rem;
  text-align: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  height: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.option {
  text-align: center;
}

.btn {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn:hover {
  background-color: #005f73;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.option p {
  font-size: 1.4rem;
  color: #007ba7;
  margin-bottom: 10px;
}
