.header {
  text-align: left;
  color: #007ba7;
  margin-bottom: 15%;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--azulmedio);
}

.header p {
  font-size: 1.2rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80vh; /* Reduz a altura total da tela */
  max-width: 80vw; /* Reduz a largura total da tela */
  margin: 0 auto; /* Centraliza horizontalmente */
  box-sizing: border-box;
  padding: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.btnBack {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
}

.btnBack:hover {
  background-color: #005f73;
}

.breadcrumb {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #007ba7;
  text-decoration: none;
}

.breadcrumb span {
  color: #333;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.filtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 50%;
}

.btn {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  display: block; 
  width: 100%; 
  text-align: center; 
  margin-bottom: 10px; 
}

.btn:hover {
  background-color: #005f73;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%; /* Defina a largura desejada */
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Garante que o grupo de entrada ocupe 100% da largura disponível */
  box-sizing: border-box;
}

.inputGroup {
  margin-bottom: 15px;
  width: 100%; /* Garante que o grupo de entrada ocupe 100% da largura disponível */
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputGroup select,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputGroup textarea {
  resize: vertical;
}
