.visualizarAgendamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  height: 100vh;
  padding-top: 2rem;
}

.conteudo {
  width: 90%;
  margin-top: 2rem;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 2rem;
}

.filtro {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.select {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.navegacao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.dates {
  display: flex;
  gap: 1rem;
}

.date {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.lista {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.profissional {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.profissionalImagem {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.profissionalNome {
  font-weight: bold;
  text-align: center;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

.linha {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.hora {
  width: 20%;
  text-align: center;
  font-weight: bold;
}

.consulta {
  width: 80%;
  background-color: #c6e2e8; /* Tom mais escuro */
  border-left: 4px solid #007bff;
  padding: 0.5rem;
}

.datePickerContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dateLabel {
  margin-right: 10px;
  font-weight: bold;
}

.datePicker {
  padding: 5px;
  font-size: 16px;
}
