.header {
  text-align: left;
  color: #007ba7;
  margin-bottom: 15%;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--azulmedio);
}

.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 80vw; /* Reduz a largura total da tela */
  margin: 0 auto; /* Centraliza horizontalmente */
  box-sizing: border-box;
  padding: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.btnBack {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
}

.btnBack:hover {
  background-color: #005f73;
}

.breadcrumb {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #007ba7;
  text-decoration: none;
}

.breadcrumb span {
  color: #333;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.btn {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #005f73;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%; /* Defina a largura desejada */
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}
