body {
  font-family: Arial, sans-serif;
}

.dados-agendamento {
  width: 20%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dados-agendamento h2 {
  text-align: center;
  color: #007ba7;
  margin-bottom: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
  position: relative;
}

.doctor-image {
  position: absolute;
  left: 0;
  transform: translateX(250%);
  max-width: 225px;
  height: auto;
  z-index: 1;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-section {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h3 {
  margin-bottom: 20px;
  color: #007ba7;
  font-size: 18px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group textarea {
  resize: vertical;
}

.required {
  color: red;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cancel-button, .submit-button {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover, .submit-button:hover {
  background-color: #005f73;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo img {
  max-width: 150px;
  height: auto;
}
.error-message {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
}
