.listaContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profissional {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  transition: background-color 0.3s, border-color 0.3s;
}

.profissional:hover {
  background-color: #f0f0f0;
}

.selected {
  border-color: #007bff;
  background-color: #e7f1ff;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #E0F7F7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


.icon::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%2328A6" d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4 8 5.79 8 8s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>') no-repeat center center;
  background-size: contain;
}

.selected .icon {
  background-color: #328DA6;
}

.selectedIcon::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23ffffff" d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4 8 5.79 8 8s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>') no-repeat center center;
  background-size: contain;
}

.info {
  display: flex;
  flex-direction: column;
}

.nome {
  font-weight: bold;
}

.especialidade {
  color: #555;
}
