body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  height: 100vh;
  background-color: #f0f8ff;
  padding: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.login h2 {
  text-align: center;
  color: #007ba7;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-link {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #007ba7;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.required {
  color: red;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.submit-button {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #005f73;
}

/* Responsividade */
@media (max-width: 768px) {
  .login {
    padding: 20px;
    max-width: 90%;
  }

  .form-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .login h2 {
    font-size: 24px;
  }

  .input-group input,
  .input-group select,
  .input-group textarea {
    padding: 8px;
  }

  .submit-button {
    padding: 10px;
    font-size: 16px;
  }
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
}
