.tabelaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E7F6F3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  overflow-y: auto;
  height: 400px; /* Ajuste a altura conforme necessário */
}

.horarios {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.horario {
  flex: 0 0 60px;
  text-align: center;
}

.horarioLabel {
  padding: 10px;
  border: 1px solid #328DA6;
  border-radius: 5px;
  background-color: #ffffff;
  color: #328DA6;
}

.agendamentos {
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: flex-start;
  overflow-x: auto; /* Permite rolagem horizontal */
}

.agendamento {
  flex: 1;
  min-width: 100px;
  padding: 10px;
  border: 1px solid #328DA6;
  border-radius: 5px;
  background-color: #ffffff;
  color: #328DA6;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.agendamento:hover {
  background-color: #05C3DE;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.agendamentoNome {
  font-weight: bold;
}

.agendamentoEspecialidade {
  color: #6893AB;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.popupHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.popupNome {
  font-size: 20px;
  font-weight: bold;
  color: #328DA6;
}

.popupEspecialidade {
  color: #6893AB;
}

.popupBody {
  margin-bottom: 20px;
}

.popupFooter {
  display: flex;
  justify-content: space-between;
}

.closeButton,
.editButton {
  padding: 10px;
  border: 1px solid #328DA6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.closeButton {
  background-color: #ffffff;
  color: #328DA6;
}

.closeButton:hover {
  background-color: #6893AB;
  color: #ffffff;
}

.editButton {
  background-color: #328DA6;
  color: #ffffff;
}

.editButton:hover {
  background-color: #026593;
}
