.gerenciamento-especialidades {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.gerenciamento-especialidades h2 {
  text-align: center;
  color: #007ba7;
  margin-bottom: 20px;
}

.especialidade-container,
.descricao-container,
.funcionario-container {
  margin-bottom: 20px;
  justify-content: center;
}

.especialidade-item label,
.descricao-container label,
.cadastro-especialidade label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.especialidade-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.especialidade {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.especialidade-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.especialidade-header:hover {
  background-color: #e0f7fa;
}

.especialidade-header span {
  font-weight: bold;
  margin-right: 10px;
}

.especialidade-header input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-button,
.delete-button,
.add-funcionario-button,
.remove-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background-color: #007ba7;
  color: white;
}

.delete-button {
  background-color: red;
  color: white;
}

.add-funcionario-button {
  background-color: #28a745;
  color: white;
  margin-top: 10px;
}

.remove-button {
  background-color: #dc3545;
  color: white;
  margin-top: 10px;
}

.especialidade-content {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.descricao-container textarea,
.cadastro-especialidade textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.funcionario-container h3 {
  margin-bottom: 10px;
  color: #007ba7;
  font-size: 18px;
  text-align: center;
}

.funcionario-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.funcionario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.funcionario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.funcionario-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.funcionario-info .nome {
  font-weight: bold;
}

.funcionario-info .especialidade {
  color: #666;
  margin-top: 5px;
}

.gerenciar-funcionarios {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #007ba7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cancel-button,
.submit-button {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover,
.submit-button:hover {
  background-color: #005f73;
}

.cadastro-especialidade {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  width: 100%;
  text-align: left;
  margin: 20px;
}

.breadcrumb a {
  color: #007ba7;
  text-decoration: none;
}

.breadcrumb span {
  color: #333;
}
