.headerLoged {
  background: #FFFFFF;
  color: var(--azulmedio);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 20px;
}

.titleLink {
  text-decoration: none;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  color: var(--azulmedio);
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.btnPrimary {
  border-radius: 15px;
  font-size: medium;
  width: 180px;
  height: 50px;
  margin: 0.5rem;
  color: white;
  background-color: var(--azulmedio);
  border: none;
  transition: background-color 0.3s ease;
}

.btnPrimary:hover {
  background-color: var(--azulescuro);
}

.btnSecondary {
  border-radius: 15px;
  font-size: medium;
  width: 180px;
  height: 50px;
  margin: 0.5rem;
  color: var(--azulmedio);
  border: 1px solid var(--azulmedio);
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btnSecondary:hover {
  background-color: var(--azulmedio);
  color: white;
}
