.DisponibilidadeDatas {
    margin: 20px 0;
}

.datesContainer {
    display: flex;
    flex-wrap: wrap;
}

.datesContainer button {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.datesContainer button:hover {
    background-color: #e6e6e6;
}
