:root {
    --azulclaro: #e7f6f3;
    --azulmedio: #328da6;
    --azulescuro: #026593;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--azulclaro);
}

body, input, textarea, button {
    font-size: 1rem;
    font-family:sans-serif;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Defina a largura desejada */
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  