.cadastroProfissional {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastroProfissional h2 {
  text-align: center;
  color: #007ba7;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formSection {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formSection h3 {
  margin-bottom: 20px;
  color: #007ba7;
  font-size: 18px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputGroup textarea {
  resize: vertical;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.inputRow .inputGroup {
  flex: 1;
}

.required {
  color: red;
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cancelButton,
.submitButton {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton:hover,
.submitButton:hover {
  background-color: #005f73;
}

.tabelaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.title {
  font-size: 18px;
  color: #007b7f;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.horarios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.horario {
  padding: 10px 20px;
  border: 1px solid #007b7f;
  border-radius: 5px;
  background-color: #ffffff;
  color: #007b7f;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horario:hover {
  background-color: #e0f7f7;
}

.selected {
  background-color: #007b7f;
  color: #ffffff;
}

.disabled {
  background-color: #f0f9f9;
  color: #ccc;
  cursor: not-allowed;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.addButton, .scheduleButton {
  padding: 10px 20px;
  border: 1px solid #007b7f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton {
  background-color: #ffffff;
  color: #007b7f;
}

.addButton:hover {
  background-color: #e0f7f7;
}

.scheduleButton {
  background-color: #007b7f;
  color: #ffffff;
}

.scheduleButton:hover {
  background-color: #005f61;
}

.selectedSlots {
  margin-top: 20px;
  width: 100%;
}

.slotItem {
  background-color: #e0f7f7;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  color: #007b7f;
  font-weight: bold;
}

.message {
  text-align: center;
  color: green;
  margin-top: 20px;
  font-size: 18px;
}
