.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E7F6F3;
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  color: #026593;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.select {
  padding: 10px;
  border: 1px solid #328DA6;
  border-radius: 5px;
}

.viewToggle {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: 1px solid #328DA6;
  border-radius: 5px;
  background-color: #ffffff;
  color: #328DA6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button.active {
  background-color: #328DA6;
  color: #ffffff;
}

.button:hover {
  background-color: #6893AB;
  color: #ffffff;
}
