.breadcrumb {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #007ba7;
  text-decoration: none;
}

.breadcrumb span {
  color: #333;
}

.cadastroInstituicao {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastroInstituicao h2 {
  text-align: center;
  color: #007ba7;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formSection {
  flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputGroup, .inputRow {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.required {
  color: red;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton, .submitButton {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.cancelButton:hover, .submitButton:hover {
  background-color: #005f73;
}

.errorMessage {
  color: red;
  margin-top: 5px;
}
.breadcrumb {
  width: 100%;
  text-align: left;
  margin: 20px;
}

.breadcrumb a {
  color: #007ba7;
  text-decoration: none;
}

.breadcrumb span {
  color: #333;
}