.navegacaoContainer {
  display: flex;
  align-items: center;
  background-color: #E7F6F3;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.navButton {
  background-color: #ffffff;
  border: 1px solid #328DA6;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #E0F7F7;
}

.calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.day {
  text-align: center;
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.day:hover {
  background-color: #E0F7F7;
}

.selected {
  background-color: #328DA6;
  color: #ffffff;
  transform: scale(1.05);
}

.dayOfWeek {
  font-weight: bold;
  color: #328DA6;
}

.selected .dayOfWeek {
  color: #ffffff;
}

.dayNumber {
  display: block;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #328DA6;
  transition: background-color 0.3s;
}

.dayNumber:hover {
  background-color: #6893AB;
}

.selected .dayNumber {
  background-color: #328DA6;
  color: #ffffff;
}
