/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.cadastro-usuario {
  width: 80%; /* Mudança: Ajuste a largura conforme necessário */
  max-width: 600px; /* Mudança: Defina um máximo para evitar que fique muito largo */
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-usuario h2 {
  text-align: center;
  color: #007ba7;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h3 {
  margin-bottom: 20px;
  color: #007ba7;
  font-size: 18px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group textarea {
  resize: vertical;
}

.required {
  color: red;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.cancel-button, .submit-button {
  background-color: #007ba7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover, .submit-button:hover {
  background-color: #005f73;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  .cadastro-usuario {
    width: 90%; /* Ajuste conforme necessário para telas menores */
  }
}
