.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.formContainer {
  width: 45%;
}

.rightContainer {
  width: 55%;
}

.horariosContainer {
  margin-bottom: 20px;
}

.mapContainer {
  height: 200px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.required {
  color: red;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  background-color: #007b7f; /* Cor dos botões do design fornecido */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton {
  background-color: #007b7f; /* Cor dos botões do design fornecido */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.slotsContainer {
  display: flex;
  flex-wrap: wrap;
}

.slot {
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.slot.selected {
  background-color: #007b7f; /* Cor dos botões do design fornecido */
  color: white;
}
